*{
    margin: 0;
    padding: 0;
}

header{
    display: grid;
    background-color: mediumvioletred;
    grid-template-columns: 1fr 80px;
    height: 40px;
    align-items: center;
    padding: 0px 10px;
    
}


body{
    display: grid;
    height: 100vh;
    grid-template-rows: 40px 1fr 40px;
}
main{
    display: grid;
    grid-template-columns: 200px 1fr;
}

footer{
    background-color:  mediumvioletred;
    text-align:center;
    padding: 10px;
   
}


#menu1{
    background-color: #f2d0e0;
    text-align:justify;
    
}

.bolo{
    display: flex;
    flex-direction: column;
    padding: auto;
    width: 160px; 
    height: 250px;
    margin-left: 15px;
    margin-top: 10px;
    align-items: center;
    box-shadow: darkgray 2px 2px 1px;
}

.item-bolo{
    display: inline-flex;
    flex-wrap: wrap;
    
}

h3{
    padding: 2px;
    justify-items: center;
  
}

p{
   height: 2px; 
   margin-bottom: 10px;
   font-size: 11px;
   text-align: center;
    margin-top: 16px;
}


img{
    width: 160px; 
    height: 150px;
    
  
}

.imagens{
    width: 15px; 
    height: 15px;
    left: 15px;
    margin-right: 0px;
    padding-top: 3px;

    
}

.icone-menu{
    width: auto; 
    height: auto;
    left: 15px;
    margin-right: 0px;
}

.imagens2{
    width: 20px; 
    height: 20px;
    left: 15px;
    
}

.imagem-seta{
    width: 20px; 
    height: 20px;
    left: 15px;
    margin-right: 0px;
}

.seta1{
    justify-self: end;
    grid-column: 3;
}

.container{
    display: grid;
    grid-template-columns: 20px 1fr 10px;
  
}

.menu{
    justify-self: start;
    margin-top: 4px;
}
