/** 
  *
  *  ESTILOS GERAIS 
  *
  **/

* {
    margin: 0;
    padding: 0;
}

h2 {
    background-color: #fe7e02;
    padding: 10px 5px 10px 5px;
    color: white;
    text-align: center;
}

input {
    height: 20px;
    width: 500px;
}

button:focus {
    color: white;
}

img {
    width: 50px;
}

div>p:first-child {
    display: inline;

}

div img {
    background: black;
}

.botao-amarelo {
    background-color: #ffaf43;
    position: absolute;
    display: block;
    transform: translate(-50%);
    margin-left: 42%; 
    margin-top: 100px;
    width: 250px;
    height: 40px;
    border-radius: 5px;
    font-size: 20px;
    color: white;
}

.botao-amarelo:hover {
    background-color: #c44f00;
}

.container {
    height: 500px;
  
}

.icone {
    height: 15px;
}


/** 
  *
  *  ESTILOS HOME 
  *
  **/

.container{
    padding: 120px;
    
}

#container-de-descricao {
    background-color: #2274a5;
    color: white;
         
}

#container-de-descricao>ol {
    padding: 50px 0px;
}

#container-para-comprar {
    background-color: #e7eb90;
}

#container-para-comprar>p {
    color: #c44f00;
    padding: 100px 0;
    font-size: 60px;
}

.frase{
   margin: auto; 
}

.frase-filha{
    margin: auto;
    width: 150px;   
}

p{
    text-align: justify;
}

/**
  *
  *  ESTILOS COMPRAR 
  *
  **/

div:nth-child(2),
div:last-child {
    text-align: center;
}
.pagina{
    align-items: center;
    width: 100%;
    height: 100%;  
}

table {
    width: 100%;
        
}

.tabela-central{
    width: 50%;
    height: 50%;
    text-align: center;
    align-items: center;  
    margin-left: 25%;
}

td button {
    background-color:  #ffaf43;
    width: 150px;
    height: 30px;
    color: black;
}

td button:hover{
    background-color: #fe7e02
}

.container-do-search {
    margin-top: 50px;
    margin-bottom: 5px;
    align-items: center;
    height: 30px;
}

.tabela-central>td{
    text-align: center;
    margin-left: 25px;
    width: 10%;
}

#back-button {
    background-color: white;
    position: relative;
    width: 100px;
    height: 20px;
    border: 1px solid black; 
    border-radius: 5px; 
    font-size: 10px;
    color: black;
}

#back-button:hover {
    background-color: #b8b19c
}

.footer{
    margin-left: 45%;
    align-items: justify;
    margin-top: 100px;
}

